*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body{
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 1.7;
    color: white;
    background: #1f2641;
}

.btn{
    display: inline-block;
    background: white;
    color: black;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: all 400ms ease;
}

.btn:hover{
    background: transparent;
    color: white;
    border-color: white;
}

.btn-primary{
    background: #f7c94b;
    color: white;
}

.container{
    width: 80%;
    margin: 0 auto;
}

a{
    color: white;
}

.nav{
    background: #6c63ff;
    width: 100vw;
    height: 5rem;
    top: 0;
    z-index: 11;
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav button{
    display: none;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav__menu a {
    font-size: 0.9rem;
    transition: all 400ms ease;
    text-decoration: none;
}

.nav__menu a:hover{
    color: #424890;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
    gap: 20px;
    position: relative;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: #555;   
}



@media screen and (max-width: 900px){
    .container{
        width: 70%;
    }

    .nav button {
        display: block;
        background: transparent;
        color: white;
        cursor: pointer;
        font-size: 1.8rem;
    }

    .nav button#close-menu-btn{
            display: none;
        }

    .nav__menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 30rem;
        flex-direction: column;
        gap: 0;
        background: rgb(0, 0, 0);
        display: none;
    }

    .nav__menu li{
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu li:nth-child(2){
        animation-delay: 200ms;
    }

    .nav__menu li:nth-child(3){
        animation-delay: 400ms;
    }

    .nav__menu li:nth-child(4){
        animation-delay: 600ms;
    }

    @keyframes animateNavItems {
        from {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }

        to{
            transform: rotateZ(0) rotateX(0deg) scale(1);
            opacity: 1;
        }
    }

    .nav__menu li a {
        background: #6c63ff;
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav__menu li a:hover {
        background: #424890;
        color: white;
    }
}



